/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: url('https://www.wallpaperflare.com/static/885/569/289/simple-background-dan-burgess-minimalism-artwork-wallpaper.jpg');
  background-size: cover;
  font-family: 'Pacifico', cursive;
  border: 1px solid black;
  margin: 10px;
  height: 100%;
}

h1 {
  font-size: 1.5em;
  order: 1;
  text-align: center;
}

li {
  display: flex;
  list-style: none;
}

td {
    border: 1px solid #333;
}

a {
  text-decoration: none;
  font-size: 9px;
  text-align: center;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  
  margin-left: 6px;
  margin-top: 6px;
  height: 10px;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  background-color: khaki;
  color: gray;
}